includes:
  - vendor/larastan/larastan/extension.neon
  - phpstan-baseline.neon
parameters:
  level: 3
  paths:
    - app
  tmpDir: '%currentWorkingDirectory%/storage/app/phpstan-tmp'
  treatPhpDocTypesAsCertain: false
